@{
  Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1>Welcome to Pierre's Bakery!</h1>
<h3><a href='/categories'>View Vendors and Orders</a></h3>
<h3><a href='/categories/new'>Add a new Vendor</a></h3>


<!-- @Html.Partial("Footer") -->