@using BakeryMVC.Models;

<h3>Here are all the orders for this vendor:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/categories/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
}
</ol>

<p><a href='/categories/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/categories'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>