@using BakeryMVC.Models;

<h3>Here are all the order for this vendor:</h3>

<ol>
@foreach (Item item in @Model["items"])
{
  <li><a href='/categories/@Model["vendor"].Id/items/@item.Id'>@item.Description</a></li>
}
</ol>

<p><a href='/categories/@Model["vendor"].Id/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>