<h1>Add a new Order to @Model.Name</h1>

<form action="/categories/@Model.Id/items" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="itemDescription">Order Details</label>
  <input id="itemDescription" name="itemDescription" type="text">
  <button type='submit'>Add Order</button>
</form>